.style-border {
    border-style: double;
    color: grey;
    margin-top: 150px;
    margin-left: 20px;
    padding: 20px
}

#note-principal {
    margin-left: 50px;
    margin-top: 15px

}

.soustitre::after, .soustitre::before {
    content:'';
    display:inline-block;
    vertical-align: middle;
    width: 150px;
    height: 1.5px; 
    background: grey
}

#note-principal::after, #note-principal::before {
    content:'';
    display:inline-block;
    vertical-align: middle;
    width: 50px;
    height: 1.5px; 
    background: grey
}

.soustitre:after, #note-principal::after { 
    margin-left: .5rem
}

.soustitre:before, #note-principal::before { 
    margin-right: .5rem
}

.soustitre {
    padding-top: 30px;
    text-align: center;
}